/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
  text-transform: uppercase;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-inverse {
  background-color: #EEE;
  border-color: #333;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #a30000;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover {
  color: #480001;
}

.navbar-inverse .navbar-brand {
  color: #111;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #DDD;
  color: #a30000;
}

.navbar-inverse .navbar-toggle {
  background-color: #666;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top: 30%;
  text-shadow: -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carousel-tight {
  left: 30%;
  width: 40%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}

/* Large desktop */
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 1125px;
    min-height: 500px;
  }

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Tiles
------------------------- */

a.thumbnail:hover,
a.thumbnail:focus {
  text-decoration: none;

}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* 404
-------------------------- */

.not-found {
  color: #a30000;
  position:absolute;
  top:100px;
  left:250px;
  text-shadow: 1px 1px 2px #EEE
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
  .navbar-wrapper .container {
    width: 800px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
  .carousel-inner > .item > img {
    left: -18%;
    min-width: 140%;
  }
  .navbar-wrapper .container {
    padding-right: 5px;
    padding-left:  5px;
  }
}

/* /1* Landscape phone to portrait tablet *1/ */
@media (max-width: 767px) {
  .carousel {
    height: 400px;
    margin-bottom: 40px;
  }
  .carousel .item {
    height: 400px;
  }
  .carousel-inner > .item > img {
    top: 50px;
    left: -35%;
    min-width: 175%;
    min-height: 0;
  }
  .carousel-caption {
    width: 40%;
    left: 30%;
    top: 60px;
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 300px;
  }
  .carousel .item {
    height: 300px;
  }
  .carousel-caption {
    width: 60%;
    left: 20%;
    top: 20px;
  }
}
