/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: #EEE;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
  text-transform: uppercase;
}
.navbar {
  font-size: 13px;
  padding-right: 15px;
  padding-left: 15px;
  border-color: #333;
}
.navbar, .navbar a:hover {
  background-color: #313131;
}
.navbar .navbar-toggle,
.navbar .navbar-toggle:hover {
  background-color: #666;
}
.navbar a.navbar-brand {
  color: #FFF;
  font-weight: 500;
}
.navbar .navbar-nav > li a {
  color: #DDD;
}
.nav .open > a, .nav .open > a:focus {
  background-color: #282828;
}
.navbar .navbar-nav > li a:hover {
  color: #FFF;
  background-color: #313131;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-top: -50px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top: 30%;
  text-shadow: -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carousel-tight {
  left: 30%;
  width: 40%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}

/* Large desktop */
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 1125px;
    min-height: 500px;
  }

#content {
  margin-top: 50px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Tiles
------------------------- */

a.thumbnail:hover,
a.thumbnail:focus {
  text-decoration: none;

}
.thumbnail > img {
  margin-top: 10px;
}

/* Featurettes
------------------------- */

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.featurette-image {
  padding: 0;
}
img.featurette-image {
  width: 100%;
}

/* 404
-------------------------- */

.not-found {
  color: #a30000;
  position:absolute;
  top:100px;
  left:250px;
  text-shadow: 1px 1px 2px #EEE
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 40px;
  }
  .navbar-wrapper .container {
    width: 800px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
  .carousel-inner > .item > img {
    left: -18%;
    min-width: 140%;
  }
  .navbar-wrapper .container {
    padding-right: 5px;
    padding-left:  5px;
  }
}

/* /1* Landscape phone to portrait tablet *1/ */
@media (max-width: 767px) {
  .carousel {
    height: 400px;
    margin-bottom: 40px;
  }
  .carousel .item {
    height: 400px;
  }
  .carousel-inner > .item > img {
    top: 50px;
    left: -35%;
    min-width: 175%;
    min-height: 0;
  }
  .carousel-caption {
    width: 40%;
    left: 30%;
    top: 60px;
  }
}

@media (max-width: 480px) {
  .carousel {
    height: 300px;
  }
  .carousel .item {
    height: 300px;
  }
  .carousel-caption {
    width: 60%;
    left: 20%;
    top: 20px;
  }
}
