{% extends "layout.html" %}
{% block title %}RSVP to our wedding!{% endblock %}

{% block content %}
  <div class="container">
    <div class="row featurette thumbnail">
      <div class="col-md-12">
        <h1>Traveling around Argentina</h1>

        <p>Since you're coming all this way to party with us, we hope you'll
        consider taking some time to explore Argentina (or its surrounding
        countries) before or after the wedding! From gigantic waterwalls in Iguazu,
        to drinking delicious Malbec wines in Mendoza, to standing in the
        southernmost city in the world, Ushuaia, there are countless awesome things
        to see and do in South America.</p> 

        <p>We asked our travel agent to put together some sample iteneraries to
        give you an idea of trips to take. Please keep in mind these prices are
        guestimates based on 4 star hotels (3 star equivalent in the US) - you can
        easily go way less expensive (or more) if you'd like! </p>
      </div>
    </div>

    <div class="row featurette thumbnail">
      <div class="col-md-8">
        <h3 class="featurette-heading">Ushuaia</h3>
        <p class="lead">The southernmost city in the world, referred to as "El
        fin del mundo," Ushuaia has lots of national parks, a small touristy
        town, and great natural beauty.</p>
        <ul>
          <li>Roundtrip flights from Buenos Aires</li>
          <li>3 nights at Hotel Albatros</li>
          <li>Roundtrip transportation from Ushuaia airport to the hotel</li>
          <li>Excursion to Parque Nacional Tierra del Fuego</li>
          <li>$968 USD / person</li>
        </ul>
      </div>
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/argentina/ushuaia.jpg" alt="ushuaia">
      </div>
    </div>

    <div class="row featurette thumbnail">
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/argentina/calafate.jpg" alt="calafate">
      </div>
      <div class="col-md-8">
        <h3 class="featurette-heading">Calafate</h3>
        <p class="lead">Located in Patagonia, Calafate is the starting point to
        visit the Perito Moreno Glacier (the world's third largest reserve of
        fresh water) and the Fitz Roy Mountain.</p>
        <ul>
          <li>Roundtrip flights from Buenos Aires</li>
          <li>3 nights at Hotel Mirador del Lago Sector superior</li>
          <li>Roundtrip transportation from Calafate airport to the hotel</li>
          <li>Excursion to Glaciar Perito Moreno</li>
          <li>$880 USD / person</li>
        </ul>
      </div>
    </div>

    <div class="row featurette thumbnail">
      <div class="col-md-8">
        <h3 class="featurette-heading">Mendoza</h3>
        <p class="lead">The fourth largest city in Argentina, Mendoza is
        a popular tourist destination, know for its wineries and olive oil
        making.</p>
        <ul>
          <li>Roundtrip flights from Buenos Aires</li>
          <li>3 nights at Hotel Amerian Executive Categoria Premier</li>
          <li>Roundtrip transportation from Mendoza airport to the hotel</li>
          <li>Excursion to visit the city and surroundings</li>
          <li>$698 USD / person</li>
        </ul>
      </div>
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/argentina/mendoza.jpg" alt="mendoza">
      </div>
    </div>

    <div class="row featurette thumbnail">
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/argentina/iguazu.jpg" alt="iguazu">
      </div>
      <div class="col-md-8">
        <h3 class="featurette-heading">Iguazu</h3>
        <p class="lead">Iguazu is home to one of the world's largest waterfalls.
        Surrounded by national parks, there are also subtropical rainforests to
        explore within the falls.</p>
        <ul>
          <li>Roundtrip flights from Buenos Aires</li>
          <li>3 nights at Hotel IGUAZU GRAND HOTEL o LOI SUITES IGUAZU HOTEL</li>
          <li>Roundtrip transportation from Iguazu airport to the hotel</li>
          <li>Excursion to Iguazu Falls</li>
          <li>$950 USD / person</li>
        </ul>
      </div>
    </div>

  </div><!-- /.container -->
{% endblock %}
