{% extends "layout.html" %}
{% block title %}Honeymoon Gifts{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <img src="static/images/us-carousel3.jpg" alt="404" class="img-responsive"></img>
  </div>
  <div class="not-found col-md-3">
    <h1>We're heading to Bariloche for our honeymoon. If you'd like to give us a gift, please click below:</h1>
    <br />
    	<br />
    	<br />
    	<br />
    	<div><a href="http://www.wanderable.com/hm/ashleysanti" target="_blank"><img alt="My Wanderable Honeymoon Registry" src="http://res.cloudinary.com/wanderable/image/upload/c_scale,w_375/v1398120426/wanderable_hm.jpg"></a></div>
    </div><!-- /.container -->
{% endblock %}