{% extends "layout.htm" %}
{% block title %}Ashley <3 Santi{% endblock %}

{% block content %}
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="container">
      <div class="carousel-caption carousel-tight">
        <h1>We're getting married!</h1>
        <br>
        <p>Join us in Rosario on February 7th, 2015 for the best Argentinean wedding party you've ever seen!</p>
      </div>
    </div>
    <div class="carousel-inner">
      <div class="item active">
        <img src="static/images/us-carousel.jpg" class="img-responsive" alt="First slide">
      </div>
    </div>
  </div><!-- /.carousel -->


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="static/images/map_small.png" alt="Venue">
        <h2>Wedding</h2>
        <p>We're getting married at beautiful Punta Barranca. The night begins at 8pm with cocktails, followed by the wedding ceremony, an asado dinner and dancing till we see the sun come up. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="static/images/champagne_small.png" alt="Schedule">
        <h2>Schedule</h2>
        <p>In addition to the wedding, we'll be gathering for drinks the Friday before and a day of swimming, sunning and empanada-eating at the Yacht Club Rosario on the Sunday after.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="static/images/travel_small.jpg" alt="Travel">
        <h2>Travel</h2>
        <p>From airlines we love to great hotels in the area, check out our recommendations for where to stay, which cities in Argentina to visit, and who you can email for help putting it all together.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Yeah, that's right.</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="static/images/puntabarranca.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
{% endblock %}
