{% extends "layout.htm" %}
{% block title %}Ashley <3 Santi{% endblock %}

{% block content %}
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="container">
      <div class="carousel-caption carousel-tight">
        <h1>We're getting married!</h1>
        <br>
        <p>Join us in Rosario on February 7th, 2015 for the best Argentinean wedding party you've ever seen!</p>
      </div>
    </div>
    <div class="carousel-inner">
      <div class="item active">
        <img src="static/images/us-carousel.jpg" class="img-responsive" alt="First slide">
      </div>
    </div>
  </div><!-- /.carousel -->


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="static/images/map_small.png" alt="Venue">
        <h2>Wedding Venue</h2>
        <p>We're getting married at beautiful Punta Barranca, located on the Parana River. The night begins at 8pm with cocktails, followed by the wedding ceremony, dinner and dancing throughout the night!</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="static/images/champagne_small.png" alt="Schedule">
        <h2>Schedule of Events</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="static/images/travel_small.jpg" alt="Travel">
        <h2>Travel + Hotels</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Yeah, that's right.</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="static/images/puntabarranca.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
{% endblock %}
