{% extends "layout.html" %}
{% block title %}RSVP to our wedding!{% endblock %}

{% block content %}
  <div class="container">
    <div id="wufoo-z10tz77v13nyxfc">Please fill our
      <a href="https://santiycr.wufoo.com/forms/z10tz77v13nyxfc">
        online form</a>.
    </div>
    <script type="text/javascript">var z10tz77v13nyxfc;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'santiycr',
'formHash':'z10tz77v13nyxfc',
'autoResize':true,
'height':'637',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z10tz77v13nyxfc = new WufooForm();z10tz77v13nyxfc.initialize(options);z10tz77v13nyxfc.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');
    </script>
  </div><!-- /.container -->
{% endblock %}
