{% extends "layout.html" %}
{% block title %}The Schedule{% endblock %}

{% block bottom_js %}
<script src="static/js/wedding.js"></script>
{% endblock %}
{% block content %}
 <div class="container">
    <div class="row featurette thumbnail">
      <div class="col-md-12">
        <h1>Weekend Events</h1>

        <p>We have fun events planned for the weekend, from Friday night drinks to Sunday at the yacht club. We hope you can join us for all three!</p> 

      </div>
    </div>
 <div class="row featurette thumbnail">
      <div class="col-md-8">
        <h3 class="featurette-heading">Friday Night Drinks</h3>
        <p class="lead"></p>
        <p>Details coming soon!</p>
      </div>
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/drinks.jpg" alt="drinks">
      </div>
    </div>

 <div class="row featurette thumbnail">
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/rings.jpg" alt="rings">
      </div>
      <div class="col-md-8">
        <h3 class="featurette-heading">Saturday Night Wedding</h3>
        <p class="lead"></p>
        <p>Check out our <a href="http://ashley.santi.io/wedding">wedding page</a> to see what we have planned for the big night.</p></p>
      </div>
    </div>

    <div class="row featurette thumbnail">
      <div class="col-md-8">
        <h3 class="featurette-heading">Sunday Lunch</h3>
        <p class="lead"></p>
        <p>Join us at Santi's yacht club, the Yacht Club Rosario, for a late lunch (2pm) of empandadas and picada. Bring your swimsuits as we enjoy a day in the sun!</p>

        <p>Address:<br />
        Yacht Club Rosario - Av. Colombres 1296</p>
      </div>
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/empanadas.jpg" alt="punta barranca at night">
      </div>
    </div>

  </div><!-- /.container -->
{% endblock %}
