{% extends "layout.html" %}
{% block title %}RSVP to our wedding!{% endblock %}

{% block content %}
  <div class="container">
    <h1>Traveling to Argentina</h1>

    <p>We've contacted a travel agent </p>

    <h3>USHUAIA - 3 nights</h3>
    <ul>
      <li>Aereo BsAs/USH/BsAs</li>
      <li>Alojamiento 3 noches Htl Albatros  (4*) con des</li>
      <li>Traslados aerop/Htl/aerop</li>
      <li>Excursión Parque Nacional Tierra del Fuego</li>
      <li>usd 968 x persona en base doble.</li>
    </ul>

    <h3>CALAFATE - 3 NOCHES</h3>
    <ul>
      <li>Aereo BsAs/FTE/ BsAs</li>
      <li>Alojamiento 3 noches Htl Mirador del Lago Sector superior (4*) con des</li>
      <li>Traslados aerop/Htl/aerop</li>
      <li>Excursión Glaciar Perito Moreno</li>
      <li>usd 880 x persona en base doble.</li>
    </ul>

    <h3>MENDOZA - 3 NOCHE</h3>
    <ul>
      <li>Aereo BsAs/MDZ/ BsAs</li>
      <li>Alojamiento 3 noches Htl Amerian Executive Categoria Premier (4*) con des</li>
      <li>Traslados aerop/Htl/aerop</li>
      <li>Excursión visita a la ciudad y alrededores</li>
      <li>usd 698 x persona en base doble.</li>
    </ul>

    <h3>IGUAZU  - 3 NOCHES</h3>
    <ul>
      <li>Aereo BsAs/IGR/ BsAs</li>
      <li>Alojamiento 3 noches Htl IGUAZU GRAND HOTEL  o LOI SUITES IGUAZU HOTEL  c/des</li>
      <li>Traslados aerop/Htl/aerop</li>
      <li>Excursión Cataratas del Iguazu - Lado argentino</li>
      <li>usd 950 x persona en base doble.</li>
    </ul>

  </div><!-- /.container -->
{% endblock %}
