{% extends "layout.html" %}
{% block title %}Traveling to Argentina{% endblock %}

{% block content %}
  <div class="container">
    <div class="row featurette thumbnail">
      <div class="col-md-12">
        <h1>Travel & Hotel Info</h1>

        <p>Getting to Rosario from the US, while long, should be pretty seamless. We recommend being in Rosario from Thursday, February 5th or Monday, February 9, so you can enjoy the city, the river, and all that we have planned for the wedding weekend.</p>
        <p>If you have any questions about traveling or would like help booking flights, hotels or excursions, please contact our local travel agent, Yanina Mana, at <a href="yanina@negoturismo.com.ar">yanina@negoturismo.com.ar</a>. She's great at finding good deals!</p> 
      </div>
    </div>

    <div class="row featurette thumbnail">
      <div class="col-md-8">
        <h3 class="featurette-heading">Flying to Argentina</h3>
        <p class="lead"></p>
        <p>While there are flights directly to Rosario, they tend to be expensive. We recommend flying to Ezeiza Airport (EZE) in Buenos Aires.</p>

    <p>Flights range in price depending on the destination. From the east coast, we've seen flights as low as $800 and from San Francisco, $1,000. Expect anything from $800 - $1,300. 

        <p>Our favorite airline to fly is <a href="http://www.lan.com/en_us/sitio_personas/index.html">LAN</a>, but Delta and American Airlines are great options too.</p>
    <p>We usually book via <a href="https://kayak.com">Kayak</a> or <a href="http://hipmunk.com">Hipmunk</a>, but you can contact the travel agent for help with this as well.</p>
        </div>
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/up balloon.jpg" alt="flying">
      </div>
    </div>

    <div class="row featurette thumbnail">
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/shuttle.jpg" alt="shuttle">
      </div>
      <div class="col-md-8">
        <h3 class="featurette-heading">Traveling to Rosario</h3>
        <p class="lead"></p>
        <p>If you are traveling directly to Rosario from EZE, we recommend booking a shuttle in advance using <a href="http://mtlrosario.com.ar/consultas">Manuel Tienda León</a>. They will pick you up near baggage claim and drop you off directly at your hotel. The drive is about four hours and cost is $50.</a></p>

    <p>If you plan to explore Buenos Aires before the wedding, Manuel Tienda León will also pick you up from your hotel in Buenos Aires and drop you off at the hotel in Rosario. </p>

        <p>Another option is to take a bus from one of the main bus stations in Buenos Aires. Check with your hotel for the station and bus to take.</p>
      </div>
    </div>

    <div class="row featurette thumbnail">
      <div class="col-md-8">
        <h3 class="featurette-heading">Hotel in Rosario</h3>
        <p class="lead"></p>
        <p> The official wedding hotel is the <a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/rosario/rsrex/hoteldetail">Holiday Inn Express Rosario</a>. Located just a few blocks from the river, it's in a great part of town and is clean, modern and safe.</p>
    
    <p> Rooms are $79/night for a king or two queens. <a href="http://www.hiexpress.com/hotels/us/en/rosario/rsrex/hoteldetail">Book online here</a>, but we recommend paying in cash to get an even better rate (thanks to the dolar blue - aka black market currency).</p> 
      </div>
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/holidayinn.jpg" alt="mendoza">
      </div>
    </div>

     <div class="row featurette thumbnail">
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/make-money.png" alt="shuttle">
      </div>
      <div class="col-md-8">
        <h3 class="featurette-heading">Money in Argentina</h3>
        <p class="lead"></p>
        <p>There are two exchange rates in Argentina right now - the <a href="https://www.google.com/search?q=exchange+rate+in+argentina">official one </a> and the <a href="http://www.dolarblue.net/">dolar blue</a>. The peso to dollar changes regularly and continues to be in favor to us (as of 10/14, it's 8:1 official, 14:1 dolar blue). </a></p>

    <p>Because of this, we recommend bringing dollars to Rosario so we can exchange them at the dolar blue price. You'll get a better deal on your hotel and any travels you do after the wedding.</p>

      </div>
    </div>


  </div><!-- /.container -->
{% endblock %}











