{% extends "layout.html" %}
{% block title %}RSVP to our wedding!{% endblock %}

{% block content %}
  <div class="container">
    <h1>What to know</h1>

    <h3>Flying to Argentina</h3>
    While there are flights directly to Rosario, they tend to be quite expensive. We recommend flying to Ezeiza Airport (EZE) in Buenos Aires.</p>

    <p>Flights range in price depending on the destination. From the east cost, we've seen flights as low as $800 and from San Francisco, $1,000. Expect anything from $800 - $1,300. Our favorite airline to fly is LAN, but Delta and American Airlines are great options too.</p>

    <p>We usually book via <a href="https://kayak.com">Kayak</a> or <a href="http://hipmunk.com">Hipmunk</a>, but our travel agent (she writes in English!) can also find great flight deals, especially if you are interested in having her figure out hotels too. Send her an email with your travel dates and wishes and she will get back to you!</p>

    <h3>Traveling to Rosario from Buenos Aires</h3>

    <p>If you are traveling directly to Rosario from EZE, you can book a shuttle in advance using <a href="http://mtlrosario.com.ar/consultas">Manuel Tienda León</a>. They will pick you up near baggage claim and drop you off directly at your hotel. The drive is about four hours and the shuttle costs $50.</a></p>

    <p>If you plan to explore Buenos Aires before the wedding, Manuel Tienda León will also pick you up from your hotel in Buenos Aires and drop you off at the hotel in Rosario.

    <h3>Hotel</h3>
    <p> The official wedding hotel is the Hotel Savoy Rosario. It's located at San Lorenzo 1022.</p>

    
      

  </div><!-- /.container -->
{% endblock %}
