{% extends "layout.html" %}
{% block title %}The Wedding{% endblock %}

{% block bottom_js %}
<script src="static/js/wedding.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row featurette thumbnail">
      <div class="col-md-8">
        <h3 class="featurette-heading">The Big Day</h3>
        <p class="lead">Here's the plan for the night.</p>
        <div class="row">
          <div class="col-md-6">
            <p>
              <strong>8pm</strong> - Cocktails and live music<br>
              <strong>8:30pm</strong> - Ceremony<br>
              <strong>10:30pm</strong> - Asado dinner<br>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <strong>12:30am</strong> - Party<br>
              <strong>1:30am</strong> - Cake<br>
              <strong>5:00am</strong> - Breakfast<br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/rings.jpg" alt="punta barranca at night">
      </div>
    </div>

    <div class="row featurette thumbnail">
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/ceremony.jpg" alt="ceremony">
      </div>
      <div class="col-md-8">
        <h3 class="featurette-heading">The Ceremony</h3>
        <p class="lead">The ceremony and party will be held at the same venue,
        Punta Barranca.</p>
        <p>We're planning for the first to be outside, so be ready for summer
        weather.</p>
      </div>
    </div>

    <div class="row featurette thumbnail">
      <div class="col-md-8">
        <h3 class="featurette-heading">The Party</h3>
        <p class="lead">As Argentineans do, we'll celebrate till the morning
        comes.</p>
        <p>Comfortable shoes will be provided for the ladies. Food will be
        served throughout the night.</p>
      </div>
      <div class="col-md-4 featurette-image">
        <img class="featurette-image" src="static/images/punta-barranca.png" alt="punta barranca at night">
      </div>
    </div>

    <div class="row featurette thumbnail">
      <div class="col-md-4 featurette-image">
        <div class="map-featurette-container">
          <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Avenida%20Eduardo%20Carrasco%203914%2C%20Rosario%2C%20Santa%20Fe%2C%20Argentina&key=AIzaSyA5nLHAdfWamhef3rFWK08xVNY0DBJfUbI"></iframe> 
        </div>
      </div>
      <div class="col-md-8">
        <h3 class="featurette-heading">Getting There</h3>
        <p class="lead">Punta Barranca, the venue is situated by the Parana River.</p>
        <p>The full address is:<br>
        <strong>96 David Pe&ntilde;a, Rosario</strong></p>
        <p>You can ask any hotel to call you a taxi or "remis" (cabs take cash only).
        If in need, this is a good provider:</p>
        <p><strong>Primera Clase</strong><br>
        Av. Pellegrini 1421 Locales 08 y 09<br>
        <strong>Phones:</strong><br>
        4533981 / 4724520 / 4728257 /
        4728258 / 4728259 / 4823808
        </p>
      </div>
    </div>

  </div><!-- /.container -->
{% endblock %}
